     <form action="/welcome/update_group_filters" id ="group_filters_form" method="post" onsubmit="new Ajax.Request('/welcome/update_group_filters', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return false;">
        <div style="margin:0;padding:0"><input name="authenticity_token" type="hidden" value= <%= raw  "#{form_authenticity_token}" %> /></div>

<% for group_filters in all_group_filters %>
 

    <%= raw  render(:partial => "shared/group_filters", :object => group_filters ) %>
      

<% end %>
<input id ="group_filters_table_name" name="group_filters_table_name" type="text" value = "" style="display:none" />
  <input id ="group_filters_foreign_key" name="group_filters_foreign_key" type="text" value = "" style="display:none" />
     <input id ="group_filters_group_id" name="group_id" type="text" value = "" style="display:none" />
 <div >
    <input name="commit" type="submit" value="Invisible Search" style="display:none" />
  </div>

</form>