<script type="text/JavaScript">
      var config_window = 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=1,width='+ screen.width/2+ ',height=' + screen.height +',left='+(screen.width/2 +1)+',top=0'

 new_win =  window.open("", "popup_window", config_window );
 new_win.document.write('<h2>'+blank_popup_div+'</h2>');
</script>