<div id ="logo_div" style ="position: fixed;left: 0px; top:0px;width:150px;height:154px">
<img src="/images/logo.png" alt="Blackfriars Logo" width="150" height="154" longdesc="http://agatha.bfriars.ox.ac.uk/logo.png"></div>
<div id ="title_div" style ="position: fixed;left: 150px; right:0px; top:0px; height:163px">
<div align="center"> <h1 align="center">Agatha</h1> <h2 align="center">Blackfriars Hall/Studium<br> Studies Database </h2> </div></div>
<div id="shrink_button_div" class="remove_header" style ="position: fixed;top:156px;height:17px;width:10px; right:0px;">
<a href ="#" onclick="hideHeader();return false" >X</a></div>
<div id="black_bar_div" style ="position: fixed;top:173px;height:7px;left:0px; right:0px;background-color: #000000;">&nbsp;</div>
<div id="expand_button_div" class="remove_header" style ="position: fixed;top:0px;height:17px;width:10px; right:0px;">
  <a href ="#" onclick="showHeader();return false" >+</a></div>
  <script  type="text/JavaScript">
jQuery('#expand_button_div').hide();
</script>
