<html>
  <title>Agatha</title>
      
      <%= javascript_include_tag "application" %><script language="javascript">
  jQuery(window).name ="default"
  var config_window = 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=1,width='+ screen.width/2+ ',height=' + screen.height +',left=0,top=0'
window.open('index', 'index',  config_window);

 </script>
  <body id ="default" bgcolor="#ffffff" title="">
    Please close this page. Do not click the refresh button.
</body>
</html>
